.storyCard {
    width: 1080px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
  }
